<% if (user) { %>
  <h2 style = "font-family: arial, sans-serif"><%= `Hello, ${email}` %></h2>
    <form action="/logout" method="POST" style="margin:25px;">
    <button type="submit" value="Logout">Logout</button>
  </form> 
<% } else { %>
  <p style = "font-family: arial, sans-serif; font-size:18px">
    <a href= "<%= `http://localhost:8080/login` %>">Login</a>
    &nbsp
    <a href= "<%= `http://localhost:8080/register` %>">Register</a>
  </p>
<%  } %>