<!DOCTYPE html>

<% if (users) { %>
  <p style = "font-family: arial, sans-serif"><%= `Hello, ${users}` %></p>
  <form action="/logout" method="POST" style="margin:25px;">
    <button type="submit" value="Logout">Logout</button>
  </form> 
<% } else { %>
  <p style = "font-size:18px">
    <a href= "<%= `http://localhost:8080/login` %>">Login</a>
  <a href= "<%= `http://localhost:8080/register` %>">Register</a>
</p>
<%  } %>