<!DOCTYPE html>

<form action="/login" method="POST" style="margin:25px;">
  <h2 style = "font-family: arial, sans-serif">
    Please login
  </h2>
  <p>
    <label>Name
      <input  action="/login" method="POST" type=email name=email>
    </label>
  </p>
  <p>
    <label>Password
      <input action="/login" method="POST" type=password name=password>
    </label>
  </p>
  <p>
    <input type="submit" value="Register">
  </p>
</form>


