<% if (username) { %>
  <p style = "font-family: arial, sans-serif"><%= `Hello, ${username}` %></p>
  <form action="/logout" method="POST" style="margin:25px;">
    <button type="submit" value="Logout">Logout</button>
  </form> 
<% } else { %>
<form action="/login" method="POST" style="margin:25px;">
  <input id="user_id" type="text" name="user_id" placeholder="Your name here" style="width: 300px">
  <input type="submit" value="That's my name">
</form> 
<%  } %>

<form action="/login" method="POST" style="margin:25px;">
  <p>
    <label>Name
      <input  action="/login" method="POST" type=email name=email>
    </label>
  </p>
  <p>
    <label>Password
      <input action="/login" method="POST" type=password name=password>
    </label>
  </p>
  <p>
    <input type="submit" value="Register">
  </p>
</form>