<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <h1><% include partials/_header.ejs %></h1>
</head>
<body>
  <ul>
   <p><%= shortURL %></p>
   <p><%= longURL %></p>
    </ul>
</body>
</html>

<!-- for (key in urlDabatase ) -->