<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
    <body>
    <h1><% include partials/_header.ejs %></h1>
    <p style = "font-family: arial, sans-serif"> Enter a new URL!</p>
    <form action="/urls" method="POST" style="margin:25px;">
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>