<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
    <h1><% include partials/_header.ejs %></h1>
  </head>
  <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 50px;
      }
      
      td, th {
          /* border: 1px solid #dddddd; */
          text-align: left;
          padding: 8px;
      }
      </style>
<body>

    <table>
        <tr>
          <th>ShortURL</th>
          <th>LongURL</th>
        </tr>
        <% for (const key in urlDatabase) { %>
        <tr> 
          <td>              
            <%=key%>
          </td>
          <td>
            <%= urlDatabase[key] %>
          </td>         
          <td>
           <a href= "<%= `http://localhost:8080/urls/${key}` %>">Edit</a>
          </td>
          <td>
            <form method="POST" action="/urls/<%=key%>/delete"><button type>Destroy</button></form>
          </td>
          <% } %>
        </tr>
        <tr>
      </table>
      <p><br></p>
    <a href="http://localhost:8080/urls/new">Shrink URL</a>
</body>
</html>

<!-- for (key in urlDabatase ) -->

