<form action="/register" method="POST" style="margin:25px;">
    <p>
      <label>Name
        <input  action="/register" method="POST" type=email name=email>
      </label>
    </p>
    <p>
      <label>Password
        <input action="/register" method="POST" type=password name=password>
      </label>
    </p>
    <p>
      <input type="submit" value="Register">
    </p>
</form>