<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <h1><% include partials/_header.ejs %></h1>
</head>
<body>
    <a href="http://www.shorten.com">Click to shrink a URL!</a>
  <ul>
    <% for (const key in urlDatabase) { %>
       <li><%= `Original URL: ${key} | TinyURL: ${urlDatabase[key]}` %></li>
    <% } %>
    </ul>
</body>
</html>

<!-- for (key in urlDabatase ) -->