<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
    <h1><% include partials/_header.ejs %></h1>
  </head>
  <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 50px;
      }
      td, th {
          /* border: 1px solid #dddddd; */
          text-align: left;
          padding: 8px;
      }
      </style>
  <body>
    <h1>TinyApp</h1>
    <table>
        <% if (user) { %>
      <tr>
        <th>ShortURL</th>
        <th>LongURL</th>
      </tr>
        <% for (const key in urlDatabase) { %>
        <% if (urlDatabase[key].userid === user) { %>
      <tr> 
        <td><%=urlDatabase[key]["shortURL"]%></td>
        <td><%= urlDatabase[key]["longURL"] %></td>   
        <td><a href= "<%= `http://localhost:8080/urls/${key}` %>">Edit</a></td>
        <td><form method="POST" action="/urls/<%=key%>/delete"><button type>Delete</button></form></td>
      </tr>
      <% } %>
      <% } %>
      <% } else { %>
        <td>
          <tr>Please login or register to continue</tr>
        </td>
    <% }; %>
      </table>
      <p><br></p>
      <form action="/urls/new">
        <button>Shrink URL</button>
      </form>
  </body>
</html>

