<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
    <h1><% include partials/_header.ejs %></h1>
  </head>
  <body>
    <p>
      <li><%= longURL %></li>
      <li><%= `http://localhost:8080/u/${shortURL}` %></li>
    </p>
    <form action="/urls/<%=shortURL%>/update" method="POST" style="margin:25px;">
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update">
    </form>
  </body>
</html>

<!-- for (key in urlDabatase ) -->